<div *ngIf="!currUser" class="login-container">
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()" class="login-form">
        <!-- Email Field -->
        <h2 class="form-title">Log In</h2>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" placeholder="Enter your email" />
            <div *ngIf="logInForm.get('email')!.invalid && logInForm.get('email')!.touched" class="error-message">
                Please enter a valid email address.
            </div>
            <div *ngIf="logInForm.get('email')!.errors?.['noSpaceAllowed']" class="error-message">
                Spaces are not allowed in the email.
            </div>
        </div>

        <!-- Password Field -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" placeholder="Enter your password" />
            <div *ngIf="logInForm.get('password')!.invalid && logInForm.get('password')!.touched" class="error-message">
                Password is required and must be at least 6 characters.
            </div>
            <div *ngIf="logInForm.get('password')!.errors?.['noSpaceAllowed']" class="error-message">
                Spaces are not allowed in the password.
            </div>
        </div>

        <!-- Submit Button -->
        <div class="form-actions">
            <button type="submit" [disabled]="logInForm.invalid" class="login-button">Log In</button>
        </div>

        <!-- Forgot Password Link -->
        <div class="additional-links">
            <a routerLink="/forgotPassword">Forgot Password?</a>
        </div>
    </form>
</div>

<p-toast></p-toast>


<div *ngIf="currUser" class="profile-container">
    <h2>Welcome, {{currUser.name}}</h2>
    <p><strong>Email:</strong> {{currUser.email}}</p>
    <button (click)="logOut()" class="logout-button">Log Out</button>
</div>